* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: #abd9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#root{
	background:#eff3f7;
	margin:0 auto;
	border-radius:5px;
	overflow:hidden;
}