#chat li{
	padding:0px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:10px;
	font-weight:normal;
    margin: 0 0 0 3px;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:5px 20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .you{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:375px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:15px;
}